*{
	margin: 0;
	padding: 0;
	text-decoration: none;
}
a:link{
	color: #808080;
}
a:visited{
	color: #000000;
}
a:hover{
	color: #808080;
}
nav a:visited{
	color: white;
}
nav a:hover{
	color: #4169E1;
}/*
a:active{
	color: orange;
}*/
.con_head a:visited{
	color: #00008B;
}
.container{
	min-width: 970px;
	width: 70%;
	margin: 0 auto;
	/*min-width: 10%;*/
	/*max-width: 90%;*/
}
header{
	width: 100%;
	height: 153px;
	border: 1px solid #2379d0;
}
.logo{
	width: 32%;
	height: 100%;
	float: left;
}
.logo img{
	width: 100%;
	height: 100%;
}
.header_bc{
	width: 68%;
	height: 100%;
	float: left;
	background-image: url(../img/header_bc.jpeg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
	overflow: hidden; 
}
.header_bc p{
	color: white;
	line-height: 153px;
	font-size: 30px;
	font-family: "STFangsong";
	font-weight: bold;
}
.header_pc{
	width: 15%;
	float: right;
	position: absolute;
	right: 10px;
	bottom: -30px;
}
.header_title{
	position: absolute;
}
nav{
	width: 100%;
	margin-top: 10px; 
	background-color: red;
	margin-bottom: 10px;
}
nav ul{
	width: 100%;
	background-color:	#0066CC;
  	height: 35px;
  	min-width: 500px;
  	/*margin: 0 auto;*/
  	text-align: center;
}
nav ul li{
	float: left;
	list-style: none;
	color: white;
	font-weight: bold;
	font-size: 20px;
	line-height: 35px;
	margin-left: 26px;
}
.announcement{
	width: 33%;
	float: left;
	margin-right: 10px;
	border: 1px solid #778899;
	height: 250px;
}
.title{
	float: left;
  	display: block;
  	font-weight: bold;
}
.con_head{
	width: 100%;
	background: -webkit-linear-gradient(#6495ED	, #696969); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(red, blue); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(red, blue); /* Firefox 3.6 - 15 */
    background: linear-gradient(#696969	, #DCDCDC); /* 标准的语法（必须放在最后） */
	height: 30px;
}
.more{
	float: right;
	display: block;
	margin-right: 20px;
	font-weight: bold;
	clear: right;
}
.announcement ol {
	font-size: 14px;
	margin-left: 15px;
}
.announcement li{
	margin-bottom: 10px;
}

.broadcast{
	width: 38%;
	height: 250px;
	float: left;
	border: 1px solid #778899;
}


.rotation{
  width: 100%;
  height: 230px;
  float: left;
  margin: -5px auto 10px auto;
  position: relative;
  overflow: hidden;
}
#wrap   li{
  float: left;
  list-style: none;
}
#tips li {
  border: 1px solid #f60;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: white;
  cursor: pointer;
  list-style: none;
}
.active {
  background: #f60;
}
#wrap  img {
  vertical-align: top;
  width: 370px;
  height: 200px;
}

#content {
  width: 2400px;
  position: absolute;
  left: -1200px;
}
#content li {
  float: left;
  list-style: none;
}
#tips {
  position: absolute;
  right: 0px;
  bottom: 30px;
}
#wrap p{
  text-align: center;
  font-weight: bold;
}
















.advisory{
	width: 24%;
	height: 250px;
	float: left;
	margin-left: 32px;
	border: 1px solid #778899;
}
.advisory ul{
	list-style: none;
	font-size: 16px;
}
.advisory ul li{
	margin-bottom: 10px; 
}
.advisory ul p{
	text-align: right;
	border-bottom: 1px solid grey;
}
.agreement{
	width: 30%;
	height: 206px;
	/*background-color: orange;*/
	float: left;
	margin-top: 20px;
	border: 1px solid #778899;
	clear: both;
}
.agreement ol{
	margin-left: 20px;
}
.agreement li{
	margin-bottom: 10px;
}
.nav{
	width: 24%;
	float: left;
	border: 1px solid #778899;
	margin: 20px 0px 10px 35px;
	height: 206px;
}
.nav ul{
	list-style: none;
	margin-left: 10px;
}
.nav ul li{
	margin-bottom: 5px;

}
.statement{
	width: 38%;
	float: left;
	clear: right;
	margin: 20px 0px 5px 28px;
	border: 1px solid #778899;
	height: 206px;
}
.statement ul{
	list-style: none;
	margin-left: 10px;

}
.statement li{
	margin-bottom: 5px;
}
.statement a{
	font-size: 18px;
}

.article{
	width: 30%;
	height: 176px;
	float: left;
	border: 1px solid #778899;
	clear: left;
	margin-top: 10px;
}
.article ul{
	list-style: none;
}
.article li{
	padding: 5px;
}



.dynamic{
	width: 30%;
	height: 176px;
	float: left;
	border: 1px solid #778899;
	margin-left: 33px;
	margin-top: 10px;
}
.dynamic ul{
	list-style: none;
}
.dynamic li{
	padding: 5px;

}
.friend_link{
	width: 32%;
	height: 176px;
	float: left;
	margin: 10px 0px 0px 26px;
	border: 1px solid #778899;
}
.link_head{
	width: 5%;
	height: 180px;
	background-color: grey;
	border-right: 1px solid blue;
	padding: 0px 5px;
	float: left;
	clear: right;
	/*line-height: 180px;*/
}
.friend_link ul{
	/*float: left;*/
	list-style: none;
	padding: 2px;
	text-align: center;
}
.friend_link li{
	padding: 5px;
}
.footer{
	width: 100%;
	background-color: grey;
	height: 50px;
	clear: both;
	text-align: center;
	line-height: 50px;
	color: white;
	font-size: 18px;
	margin-top: 50px;
}